#!/bin/bash
ENV=local # prod, dev, local, test
DEBUG=true
SECRET_KEY=change-this-super-secret-key

# production postgres
# POSTGRES_HOST=postgres
# POSTGRES_PORT=5432

# development postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=33432

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi_backend
POSTGRES_ECHO=true # prod (false)

# Monitoring
SENTRY_DSN=
PROMETHEUS_METRICS_KEY=

# Cors Headers & Allowed Hosts
ALLOWED_HOSTS=["*"]
CORS_ORIGINS=["http://localhost:3000"]

# Rate Limiting for api endpoints (SlowAPI)
RATE_LIMIT_STORAGE_URL=redis://redis:6379/0
RATE_LIMIT_TRUSTED_PROXIES=

# Email
SMTP_FROM=akromjonrustamov56@gmail.com
SMTP_USER=akromjonrustamov56@gmail.com
SMTP_PASSWORD=wmavezeawcwhytek

# Logging
LOG_INCLUDE_REQUEST_ID=true
LOG_LEVEL=INFO
LOG_JSON=false # prod (true)

# Добавь в .env или .env.local
UPLOAD_MAX_SIZE_MB=5
UPLOAD_ALLOWED_EXTENSIONS=.jpg,.jpeg,.png,.gif,.webp
UPLOAD_ALLOWED_MIMETYPES=image/jpeg,image/png,image/gif,image/webp
UPLOAD_AVATAR_DIR=static/avatars
UPLOAD_AVATAR_URL_PREFIX=/static/avatars
UPLOAD_MAX_FILENAME_LENGTH=100
