#!/bin/bash
ENV=prod # prod, dev, local, test
DEBUG=false
SECRET_KEY=

# production postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fastapi_backend
POSTGRES_ECHO=false

# Cors Headers & Allowed Hosts
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# JWT
JWT_ISSUER=fastapi_backend
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30

# Rate Limiting for api endpoints (SlowAPI)
RATE_LIMIT_STORAGE_URL=redis://redis:6379/0
RATE_LIMIT_TRUSTED_PROXIES=http://localhost:5555,http://localhost:8000
RATE_LIMIT_ENABLED=true

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CELERY_TIMEZONE=Asia/Tashkent

# Redis
REDIS_URL=redis://redis:6379/0

# Email
SMTP_FROM=smtp.gmail.com
SMTP_PORT=587
SMTP_FROM=
SMTP_USER=
SMTP_PASSWORD=

# Logging
LOG_INCLUDE_REQUEST_ID=true
LOG_LEVEL=INFO
LOG_JSON=true

# Добавь в .env или .env.local
UPLOAD_MAX_SIZE_MB=5
UPLOAD_ALLOWED_EXTENSIONS=.jpg,.jpeg,.png,.gif,.webp
UPLOAD_ALLOWED_MIMETYPES=image/jpeg,image/png,image/gif,image/webp
UPLOAD_AVATAR_DIR=static/avatars
UPLOAD_AVATAR_URL_PREFIX=/static/avatars
UPLOAD_MAX_FILENAME_LENGTH=100
